body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


#main{
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  #nav>img{
    width: 190px;
    height: 50px;
    flex-shrink: 0;
  }
  
  #nav {
    display: flex;
    width: 50vw;
    padding: 32px 320px;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter",sans-serif; 
    position:fixed;
    background-color: white;
    z-index: 1000;
  }
  
  #nav a:hover {
      color: #F15A24; /* Choose your hover color */
  }
    
  
  
  #nav>#middle-nav{
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 40px;
  }
  
  #nav>#middle-nav>span{
    color: var(--Main-Paragraph, #4E4B66);
    text-align: center;
  /* Body/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  
  .test {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  #nav>.test>#contact-us>button{
    display: flex;
    height: 40px;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid var(--Hero-Primary, #F15A24);
    color:#F15A24;
    background-color: white;
    font-family: "Inter";
  }
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-top: 0;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #555;
}
